.movie-poster {
  height: 300px;
  width: 250px;
  border: 1px solid black;
}

.movie-card {
  width: 250px;
  height: 400px;
  padding: 16px;
  border: 1px solid black;
  margin: 0 32px;
}

.overlay-shadow {
  opacity: 50%;
}
